---
layout: null
title: Portfolio
description: Portfolio
sitemap:
    priority: 1.0
    lastmod: 2017-11-02
    changefreq: weekly
---

<!DOCTYPE HTML>
<html>

    <head>
        {% include head.html %}
    </head>

    <body class="is-loading">
        <!-- Wrapper -->
			<div id="wrapper" class="fade-in">

				<!-- Header -->
				<header id="header">
					<a href="{{ "/" | absolute_url }}" class="logo">{{site.title}}</a>
				</header>

                <nav id="nav">
                    {% include nav.html %}
                </nav>
                <div id="main">

                    <article class="post featured">
                        <header class="major">
                          <h2><a href="#">Portfolio</a></h2>
                          <p>I am an artist who works with both 2D and 3D art. I love making sci-fi artwork and 3D models using Blender and Photoshop. Scroll to see what I think is out there!</p>
                            
                           <p><b>Commissions are open. You can contact me on <a href="https://twitter.com/aryanaut">Twitter</a>, <a href="https://instagram.com/aryan_m05">Instagram</a> and through this site by scrolling to the bottom.</b></p>
                        
                            <p>For portraits, I use photoshop and references images to collect the color pallete and structure. For my 3D models, I use sketches from various angles (front and side) for modelling to keep the proportions intact. For sci-fi environments, I create backdrops with Blender, after which I add details and the foreground with Photoshop.</p>
                      
                        </article>

                    <!-- Grid Gallery-->
                    <section class="grid">
                        {% include image-gallery.html %}
                    </section>
                </div>
    {% include foot.html %}
        </div>

        {% include scripts-main.html %}
        {% include tracking.html %}
    </body>
</html>